body.tic-tac-toe {
	background clr-teal-900

	$link = #fff
	$link-hover = blue

	header {
		background clr-teal-700
	}

	footer {
		border-top-color #aaa
	}

	a {
		color clr-light-blue-a100

		&:active,
		&:hover {
			color clr-light-blue-a200
		}
	}
}
