.game {
	display flex
	flex-wrap wrap
	flex-direction column
	align-items center

	text-align center

	> * {
		margin 2rem auto
	}
}

#state {
	padding 1rem 2rem
	width 100%

	&.--your-turn {
		background clr-teal-a700
		color #000
	}
}

#link-area {
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
}

#link-area,
.new-game {
	transition transform .5s ease, margin .5s ease
	transform-origin top

	&:not(.--active) {
		transform scaleY(0)
		margin 0
	}
}

.player-area {
	display none
}
