.flash {
	border-radius .5rem

	background #555
	padding 2rem 4rem

	&:not(:last-child) {
		margin-bottom 2rem
	}

	&.--success {
		background clr-green-500
		color #000
	}

	&.--error {
		background clr-red-500
		color #000
	}
}
