.game-select {
	.game {
		display flex
		align-items center
		justify-content space-between

		padding 1.5rem 3rem
		box-shadow 0 0 1rem rgba(#000, .5)

		&.--ttt {
			background clr-teal-700
		}

		.meta {
			margin 0 4rem 0 0
		}
	}
}
