.lobby {
	h2 {
		padding 0 2rem 0 0
	}

	.invite-wrap {
		input {
			width 50rem
			max-width calc(100% - 4rem)

			padding .6rem 1rem
		}
	}
}

.lobby-id {
	padding .25rem 1rem

	background rgba(#fff, .1)
	border-radius .3rem
	font .8em/1.5em $mono
}
