// Colors
$primary = clr-indigo-500
$secondary = clr-deep-orange-500
$gray = #999
$black = #222
$white = #eee

// Fonts
$sans = 'Source Sans Pro', sans-serif
$serif = 'Merriweather', serif
$mono = Consolas, 'Roboto Mono', monospace
