.toolbox {
	button {
		&.draw {
			span {
				display block
				border-radius 50%
				height 2.5rem
				width 2.5rem
				border 1px solid #fff
			}

			&.--black {
				span {
					background #000
				}
			}

			&.--blue {
				span {
					background blue
				}
			}

			&.--red {
				span {
					background red
				}
			}

			&.--green {
				span {
					background green
				}
			}
		}
	}
}
